<md-content class="md-padding">
    <md-grid-list md-cols="4" md-row-height="2:1" md-gutter="30px">


        <md-grid-tile ng-repeat="product in products">
            <md-card md-theme-watch style="width:100%; height:100%;">

                <div layout="row" flex="100">
                    <div flex="40" style="background-color:yellow;">
                        <img ng-src="{{ getFullImageUrl(product.image_path) }}" alt="" style="width:100%; height:100%;">

                    </div>
                    <div flex="60" style="background-color:green;" layout="column">

                        <div flex="50" style="background-color:cyan;">

                            <md-select name="favoriteColor" ng-model="favoriteColor" required layout-align="center center">
                                <md-option ng-repeat="pack_size in product.quantity_intervals.pack_size_types"
                                           value="red"> {{ pack_size }}
                                </md-option>
                            </md-select>


                        </div>
                        <div flex="20" style="background-color:red;">

                            {{ product.name }}
                        </div>
                        <div flex="30" style="background-color:pink;" layout="row">

                            <div flex="40" style="background-color:orange;">
                                Price:60
                            </div>
                            <div flex="20" style="background-color:blue;">
                                <button>-</button>
                            </div>
                            <div flex="20" style="background-color:cyan;">
                                5
                            </div>
                            <div flex="20" style="background-color:green;">
                                <button>+</button>
                            </div>


                        </div>


                    </div>
                </div>
            </md-card>
        </md-grid-tile>


    </md-grid-list>
</md-content>