<md-sidenav component-id="left" md-component-id="left" class="md-sidenav-left md-whiteframe-z2">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button ng-click="toggle()">
                Close
            </md-button>
        </div>
    </md-toolbar>
</md-sidenav>


<md-content>
    <md-toolbar class="z2">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggle()">
                Open
            </md-button>
        </div>
    </md-toolbar>
</md-content>