{% load staticfiles compress %}

<!-- Generic-->
<script src="{% static 'js/productapp.js' %}"></script>


<!-- Generic before app init-->
<script src="{% static 'js/config/run.js' %}"></script>
<script src="{% static 'js/config/routes.js' %}"></script>

<!--Auth factories-->
<script src="{% static 'js/authentication/services/Authentication.js' %}"></script>
<!--Auth controllers-->
<script src="{% static 'js/authentication/controllers/LoginController.js' %}"></script>
<script src="{% static 'js/authentication/controllers/RegisterController.js' %}"></script>

<!--Generic controllers-->
<script src="{% static 'js/generic/controllers/NavBarController.js' %}"></script>


<!--factories-->
<script src="{% static 'js/product/services/ProductCategoryFactory.js' %}"></script>
<script src="{% static 'js/product/services/ProductService.js' %}"></script>
<script src="{% static 'js/product/services/UserOrderService.js' %}"></script>

<!--controllers-->
<script src="{% static 'js/product/controllers/ListOfAllProductCategoryController.js' %}"></script>
<script src="{% static 'js/product/controllers/OrderSummaryController.js' %}"></script>
<script src="{% static 'js/product/controllers/TestNGCartController.js' %}"></script>

<!-- ngCart -->

<script type="text/ng-template" id="template/ngCart/summary.html"></script>
<script type="text/ng-template" id="template/ngCart/cart.html"></script>
<script type="text/ng-template" id="template/ngCart/addtocart.html"></script>
