{% load staticfiles compress %}

<!-- Generic-->
<script src="{% static 'js/productapp.js' %}"></script>


<!-- Generic before app init-->
<script src="{% static 'js/config/run.js' %}"></script>
<script src="{% static 'js/config/routes.js' %}"></script>

<!--Auth factories-->
<script src="{% static 'js/authentication/services/Authentication.js' %}"></script>
<!--Auth controllers-->
<script src="{% static 'js/authentication/controllers/LoginController.js' %}"></script>
<script src="{% static 'js/authentication/controllers/RegisterController.js' %}"></script>

<!--Generic controllers-->
<script src="{% static 'js/generic/controllers/NavBarController.js' %}"></script>


<script src="{% static 'js/pagination/directives/PaginationDirective.js' %}"></script>
<script src="{% static 'js/pagination/controllers/PaginationController.js' %}"></script>


<!--factories-->
<script src="{% static 'js/product/services/ProductCategoryFactory.js' %}"></script>
<script src="{% static 'js/product/services/ProductService.js' %}"></script>

<!--controllers-->
<script src="{% static 'js/product/controllers/ListOfAllProductCategoryController.js' %}"></script>
