<h2>New Article</h2>
<form name="newArticle" ng-submit="save(newArticle.$valid)" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : newArticle.title.$invalid && !newArticle.title.$pristine }">
        <label>Title*</label>
        <input type="text" name="title" class="form-control" ng-model="article.title" required>

        <p ng-show="newArticle.title.$invalid && !newArticle.title.$pristine" class="help-block">title is required.</p>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : newArticle.content.$invalid && !newArticle.content.$pristine }">
        <label>Content*</label>
        <textarea type="text" name="content" class="form-control" ng-model="article.content" required></textarea>

        <p ng-show="newArticle.content.$invalid && !newArticle.content.$pristine" class="help-block">content is
            required.</p>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : newArticle.category.$invalid && !newArticle.category.$pristine }">
        <label>Category*</label>
        <select class="form-control" ng-options="category.id as category.title for category in categories"
                name="category"
                ng-model="article.category" multiple required>
        </select><br>

        <p ng-show="newArticle.category.$invalid && !newArticle.category.$pristine" class="help-block">category is
            required.</p>
    </div>

    <div class="form-group">
        <div ng-include="'static/partials/in_app_file_upload/in_app_file_upload.html'"></div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <button class='col-md-12 btn btn-primary' ng-disabled="newArticle.$invalid" type="submit"> Create Article</button>
    <br>
    <br>
    <br>
    <br>
</form>


