textarea {
    width: 100% !important;
    min-height: 250px;
}
.panel-heading h4 {
    color: #fff;
}
.control-label.ng-binding {
    text-align: left !important;
    text-transform: capitalize;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
}

img {
    max-width: 100px;
}
.in-model-image-uploads li {
    list-style: none;
    display: inline-block;
    margin: 5px;
}
.in-model-image-uploads {
    padding:0;
    margin: 0;
}
.in-model-image-uploads-single {

}
.preview-image-div {
    width: 100px;
    height: 100px;
    float: left;
   background: no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
.images-scroll-div {
    width: 100%;
    height: 120px;
    white-space: nowrap; overflow-y: hidden;   overflow-x: scroll;
}


.opacity-light {
    opacity: 0.3;
}



/* Home page css....................................................................................................*/























/* css used while tesitng various home page */

body {
/*css for full size background image*/
  background-size: cover;
    background-position: center;
  height: 500px;
    width: 500px;


}
/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
 .brignInOneLIne{
  display: inline-block;
}

.masthead-nav > li + li {
  margin-left: 20px;
}

.product {
width: 250px;
    height:370px;
}

.productImage {
width:auto;
height:auto;
max-width:250px;
max-height:170px;
}


