<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <h2>Login to your account</h2>
            <div ng-show="inValidCredentials" class="alert alert-danger">
                Invalid UserName or Password
            </div>
            <form name="LoginForm" ng-submit="login()" novalidate>

                <div class="form-group"
                     ng-class="{ 'has-error' : LoginForm.username.$invalid && !LoginForm.username.$pristine }">
                    <input name="username" type="text" placeholder="enter your username" ng-model="account.username"
                           class="form-control" required>
                    <p ng-show="LoginForm.username.$invalid && !LoginForm.username.$pristine" class="help-block">
                        username is required.</p>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error' : LoginForm.password.$invalid && !LoginForm.password.$pristine }">
                    <input name="password" type="password" placeholder="enter your password" ng-model="account.password"
                           class="form-control"
                           required>
                    <p ng-show="LoginForm.password.$invalid && !LoginForm.password.$pristine" class="help-block">
                        password is required.</p>
                </div>
                <button class='btn btn-primary'
                        ng-disabled="LoginForm.userName.$error.required || LoginForm.password.$error.required"
                        type="submit"> Login
                </button>
            </form>
        </div>
    </div>
</div>
