<div class=container>
    <div class="col-md-6">
        <div class="row">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong><i class="fa fa-user" aria-hidden="true"></i>
                            Your Profile</strong>

                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">

                            <tbody>
                            <tr>
                                <td>First Name</td>
                                <td ng-if="profile.firstName">{{ profile.firstName }}</td>
                                <td ng-if="!profile.firstName">Not available</td>
                            </tr>
                            <tr>
                                <td>Last Name</td>
                                <td ng-if="profile.lastName">{{ profile.lastName }}</td>
                                <td ng-if="!profile.lastName">Not available</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td ng-if="profile.email">{{ profile.email }}</td>
                                <td ng-if="!profile.email">Not available</td>
                            </tr>
                            <tr>
                                <td>Company</td>
                                <td ng-if="profile.companyName">{{ profile.companyName }}</td>
                                <td ng-if="!profile.companyName">Not available</td>
                            </tr>
                            <tr>
                                <td>Phone Number</td>
                                <td ng-if="profile.phoneNumber">{{ profile.phoneNumber }}</td>
                                <td ng-if="!profile.phoneNumber">Not available</td>
                            </tr>
                            <tr>
                                <td>Alternate Phone Number</td>
                                <td ng-if="profile.alternatePhoneNumber">{{ profile.alternatePhoneNumber }}</td>
                                <td ng-if="!profile.alternatePhoneNumber">Not available</td>
                            </tr>
                            </tbody>

                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong><i class="fa fa-user" aria-hidden="true"></i>
                            Your Address</strong>

                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">

                            <tbody>
                            <tr>
                                <td>Apartment/Locality Name</td>
                                <td ng-if="profile.addressOne">{{ profile.addressOne }}</td>
                                <td ng-if="!profile.addressOne">Not available</td>
                            </tr>
                            <tr>
                                <td>Location</td>
                                <td ng-if="profile.addressTwo">{{ profile.addressTwo }}</td>
                                <td ng-if="!profile.addressTwo">Not available</td>
                            </tr>
                            <tr>
                                <td>Landmark</td>
                                <td ng-if="profile.street">{{ profile.street }}</td>
                                <td ng-if="!profile.street">Not available</td>
                            </tr>
                            <tr>
                                <td>City</td>
                                <td ng-if="profile.city">{{ profile.city }}</td>


                            </tr>
                            <tr>
                                <td>District</td>
                                <td ng-if="profile.district">{{ profile.district }}</td>
                                <td ng-if="!profile.district">Not available</td>

                            </tr>
                            <tr>
                                <td>State</td>
                                <td ng-if="profile.state">{{ profile.state }}</td>
                                <td ng-if="!profile.state">Not available</td>
                            </tr>
                            </tbody>

                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="text-center">
    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#profileUpdateModal">
        Update Profile and address
    </button>
        </div>

</div>

<div class="modal fade"
     id="profileUpdateModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="profileUpdateModalLabel"
     aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="profileUpdateModalLabel">Update Profile</h4>
            </div>

            <div class="modal-body">
                <form name="ProfileForm" role="form" class="form-horizontal" ng-submit="updateProfile()" novalidate>

                    <div class="form-group"
                         ng-class="{ 'has-error' : ProfileForm.firstName.$invalid && !ProfileForm.firstName.$pristine }">
                        <label class="col-sm-2 control-label" for="profileEmail">First Name</label>
                        <div class="col-sm-10">
                            <input id="profileEmail"
                                   type="text"
                                   name="firstName"
                                   placeholder="enter your firstName"
                                   ng-model="profile.firstName"
                                   class="form-control"
                                   required>
                            <p ng-show="ProfileForm.firstName.$invalid && !ProfileForm.firstName.$pristine"
                               class="help-block">
                                First Name is required.</p>
                        </div>
                    </div>


                    <div class="form-group"
                         ng-class="{ 'has-error' : ProfileForm.lastName.$invalid && !ProfileForm.lastName.$pristine }">
                        <label class="col-sm-2 control-label">Last Name111</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   name="lastName"
                                   placeholder="enter your lastName"
                                   ng-model="profile.lastName"
                                   class="form-control input-lg"
                                   required>
                            <p ng-show="ProfileForm.lastName.$invalid && !ProfileForm.lastName.$pristine"
                               class="help-block">Last
                                Name is required.</p>
                        </div>
                    </div>

                    <div class="form-group"
                         ng-class="{ 'has-error' : ProfileForm.companyName.$invalid && !ProfileForm.companyName.$pristine }">
                        <label class="col-sm-2 control-label">Company Name</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   name="companyName"
                                   placeholder="enter your company name"
                                   ng-model="profile.companyName"
                                   class="form-control input-lg"
                                   required>
                            <p ng-show="ProfileForm.companyName.$invalid && !ProfileForm.companyName.$pristine"
                               class="help-block">Company Name is
                                required.</p>
                        </div>
                    </div>

                    <div class="form-group"
                         ng-class="{ 'has-error' : ProfileForm.email.$invalid && !ProfileForm.email.$pristine }">
                        <label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email"
                                   name="email"
                                   placeholder="enter your email"
                                   ng-model="profile.email"
                                   class="form-control input-lg"
                                   required>
                            <p ng-show="ProfileForm.email.$invalid && !ProfileForm.email.$pristine"
                               class="help-block">
                                email is required.</p>
                        </div>
                    </div>

                    <div class="form-group"
                         ng-class="{ 'has-error' : ProfileForm.phoneNumber.$invalid && !ProfileForm.phoneNumber.$pristine }">
                        <label class="col-sm-2 control-label">Phone Number</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   name="phoneNumber"
                                   placeholder="enter your phone number"
                                   ng-model="profile.phoneNumber"
                                   class="form-control input-lg"
                                   required>
                            <p ng-show="ProfileForm.phoneNumber.$invalid && !ProfileForm.phoneNumber.$pristine"
                               class="help-block">phone number is
                                required.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Alternate Phone Number</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   name="alternatePhoneNumber"
                                   placeholder="Alternate Phone Number"
                                   ng-model="profile.alternatePhoneNumber"
                                   class="form-control input-lg">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Apartment/Location Name</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   name="addressOne"
                                   placeholder="Apartment/Location Name"
                                   ng-model="profile.addressOne"
                                   class="form-control input-lg">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Location</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   name="addressTwo"
                                   placeholder="Location"
                                   ng-model="profile.addressTwo"
                                   class="form-control input-lg">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Landmark</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   name="street"
                                   placeholder="Landmark"
                                   ng-model="profile.street"
                                   class="form-control input-lg">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">City</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   name="city"
                                   placeholder="City"
                                   ng-model="profile.city"
                                   class="form-control input-lg">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">District</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   name="district"
                                   placeholder="District"
                                   ng-model="profile.district"
                                   class="form-control input-lg">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">State</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   name="state"
                                   placeholder="State"
                                   ng-model="profile.state"
                                   class="form-control input-lg">
                        </div>

                    </div>


                    <button class='btn btn-primary' ng-disabled="$invalid" type="submit"> Update
                        Profile and address
                    </button>
                </form>


            </div>
        </div>
    </div>
</div>
