<div class="md-padding" layout-wrap>
            <md-grid-list md-cols="6" md-row-height="1:1" md-gutter="50px">


                <md-grid-tile style="background-color:green;" ng-click="goToProductPage()">
                    <div flex="100">
                        <img style="width:100%; height:auto;" src="/static/JSApps/images/Maggi.jpg" layout="fill">
                    </div>
                    <md-grid-tile-footer layout-align="center center">
                        <h1>Yummy Maggi</h1>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile style="background-color:green;" ng-click="goToProductPage()">
                    <div flex="100">
                        <img style="width:100%; height:auto;" src="/static/JSApps/images/Aata1.jpg" layout="fill">
                    </div>
                    <md-grid-tile-footer layout-align="center center">
                        <h1>Aata</h1>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile style="background-color:green;" ng-click="goToProductPage()">
                    <div flex="100">
                        <img style="width:100%; height:auto;" src="/static/JSApps/images/Safola.jpg" layout="fill">
                    </div>
                    <md-grid-tile-footer layout-align="center center">
                        <h1>Safola Oil</h1>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile style="background-color:green;" ng-click="goToProductPage()">
                    <div flex="100">
                        <img style="width:100%; height:auto;" src="/static/JSApps/images/Namkeen.jpg" layout="fill">
                    </div>
                    <md-grid-tile-footer layout-align="center center">
                        <h1>Namkeen</h1>
                    </md-grid-tile-footer>
                </md-grid-tile>
               <md-grid-tile style="background-color:green;" ng-click="goToProductPage()">
                    <div flex="100">
                        <img style="width:100%; height:auto;" src="/static/JSApps/images/Safola.jpg" layout="fill">
                    </div>
                    <md-grid-tile-footer layout-align="center center">
                        <h1>Safola Oil</h1>
                    </md-grid-tile-footer>
                </md-grid-tile>
              <md-grid-tile style="background-color:green;" ng-click="goToProductPage()">
                    <div flex="100">
                        <img style="width:100%; height:auto;" src="/static/JSApps/images/Maggi.jpg" layout="fill">
                    </div>
                    <md-grid-tile-footer layout-align="center center">
                        <h1>Yummy Maggi</h1>
                    </md-grid-tile-footer>
                </md-grid-tile>
                  <md-grid-tile style="background-color:green;" ng-click="goToProductPage()">
                    <div flex="100">
                        <img style="width:100%; height:auto;" src="/static/JSApps/images/Namkeen.jpg" layout="fill">
                    </div>
                    <md-grid-tile-footer layout-align="center center">
                        <h1>Namkeen</h1>
                    </md-grid-tile-footer>
                </md-grid-tile>
           <md-grid-tile style="background-color:green;" ng-click="goToProductPage()">
                    <div flex="100">
                        <img style="width:100%; height:auto;" src="/static/JSApps/images/Aata1.jpg" layout="fill">
                    </div>
                    <md-grid-tile-footer layout-align="center center">
                        <h1>Aata</h1>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </div>