<div class="card">
  <img class="card-img-top" src="/static/product_images/apple.jpeg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card">
  <img class="card-img-top" src="/static/product_images/apple.jpeg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>


<div class="card">
  <img class="card-img-top" src="/static/product_images/apple.jpeg" width="323px;" alt="Bandra Worli Sea Link">
  <div class="card-block">
    <h4 class="card-title">Bandra Worli Sealink</h4>
    <p class="card-text">A Sea Link Connecting two suburbs of the City of Mumbai, India.</p>
  </div>
    <!-- list -->
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Marine Lines</li>
    <li class="list-group-item">Gateway of India</li>
    <li class="list-group-item">National Park</li>
  </ul>
  <div class="card-block">
      <a href="#" class="btn btn-danger">Go Back</a>
	  <a href="#" class="btn btn-success">Visit Mumbai</a>
  </div>
</div>