<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

    <div class="pull-right">
        <ul class="nav masthead-nav">
            <li class="active">
                <a href="http://bootsnipp.com/iframe/g6GWQ" target="_blank">About</a>
            </li>

            <li>
                <a href="#">Team</a>
            </li>

            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">Login</a>
            </li>
            <li>
                <a class="btn btn-primary btn-xs" href="#" role="button" href="#">Signup</a>
            </li>


        </ul>
    </div>