<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="css.style">

</head>

<body ng-app="MatApp">

<div ng-controller="AppCtrl" ng-cloak>

    <md-sidenav component-id="left" md-component-id="left" class="md-sidenav-left md-whiteframe-z2">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button ng-click="toggle()">
                    <md-icon md-svg-src='mat-icons/menu.svg' aria-label="Menu"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-content layout-padding flex="100">
            <md-list class="md-3-line">
                <div flex="30">
                    <md-list-item><h2>Test@gmail.com</h2></md-list-item>
                </div>

                <md-divider></md-divider>

                <div flex="30">
                    <md-list-item><h2> Home</h2></md-list-item>
                    <md-list-item><h2> View Orders</h2></md-list-item>
                    <md-list-item><h2> Settings</h2></md-list-item>
                </div>

                <md-divider></md-divider>
                <div flex="20">
                    <md-list-item><h2> About Us</h2></md-list-item>
                </div>
                <md-divider></md-divider>

                <div flex="20">
                    <md-list-item><h2>App Link</h2></md-list-item>
                </div>
            </md-list>
        </md-content>
    </md-sidenav>


    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button ng-click="toggle()">
                    <md-icon md-svg-src='mat-icons/menu.svg' aria-label="Menu"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <div class="md-padding" layout-wrap>


            <md-grid-list md-cols="4" md-row-height="1:1" md-gutter="50px">
                <md-grid-tile style="background-color:green;">
                    <div flex="100">
                        <img style="width:100%; height:auto;" src="Img_1.jpg" layout="fill">
                    </div>
                    <md-grid-tile-footer layout-align="center center">
                        <h1>first tile</h1>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile style="background-color:green;">
                    <div flex="100">
                        <img style="width:100%; height:auto;" src="Img_2.jpg" layout="fill">
                    </div>
                    <md-grid-tile-footer layout-align="center center">
                        <h1>first tile</h1>
                    </md-grid-tile-footer>
                </md-grid-tile>
                       <md-grid-tile style="background-color:green;">
                    <div flex="100">
                        <img style="width:100%; height:auto;" src="Img_1.jpg" layout="fill">
                    </div>
                    <md-grid-tile-footer layout-align="center center">
                        <h1>first tile</h1>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile style="background-color:green;">
                    <div flex="100">
                        <img style="width:100%; height:auto;" src="Img_2.jpg" layout="fill">
                    </div>
                    <md-grid-tile-footer layout-align="center center">
                        <h1>first tile</h1>
                    </md-grid-tile-footer>
                </md-grid-tile>
                       <md-grid-tile style="background-color:green;">
                    <div flex="100">
                        <img style="width:100%; height:auto;" src="Img_1.jpg" layout="fill">
                    </div>
                    <md-grid-tile-footer layout-align="center center">
                        <h1>first tile</h1>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile style="background-color:green;">
                    <div flex="100">
                        <img style="width:100%; height:auto;" src="Img_2.jpg" layout="fill">
                    </div>
                    <md-grid-tile-footer layout-align="center center">
                        <h1>first tile</h1>
                    </md-grid-tile-footer>
                </md-grid-tile>
                       <md-grid-tile style="background-color:green;">
                    <div flex="100">
                        <img style="width:100%; height:auto;" src="Img_1.jpg" layout="fill">
                    </div>
                    <md-grid-tile-footer layout-align="center center">
                        <h1>first tile</h1>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile style="background-color:green;">
                    <div flex="100">
                        <img style="width:100%; height:auto;" src="Img_2.jpg" layout="fill">
                    </div>
                    <md-grid-tile-footer layout-align="center center">
                        <h1>first tile</h1>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </div>


    </md-content>


</div>

</body>
</html>